@import url(./styles/content.css);
@import url(./styles/zodiac.css);
@import url(./styles/head.css);

body{
    background-image: url(./images/space-background-with-stars-vector-illustration_97886-319.avif);
}
table, th, td{
    border: 2px solid aliceblue;
    margin: 100px auto;
    border-collapse: collapse;
}
table{
    width: 1500px;
    height: 600px;
}
.center{
    width: 950px;
    background-color: rgba(10, 10, 10, 0.621);
}
a{
    text-decoration: none;
}