@import url(./styles/telets.css);
@import url(./styles/oven.css);
@import url(./styles/components/a.css);

body{
    background-image: url(./images/space-background-with-stars-vector-illustration_97886-319.avif);
}
table, th, td{
    border: 2px solid aliceblue;
    margin: 100px auto;
    border-collapse: collapse;
}
table{
    width: 1300px;
    height: 800px;
}
.center{
    width: 950px;
}
th{
    height: 40px;
}
th span{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 30px;
}
td{
    width: 100px;
    height: 75px;
}
td img{
    width: 100px;
}
a{
    text-decoration: none;
    color: black;
}