.state-checkbox{
    display: none;
}
.oven-gallery{
    position: relative;
    margin: 0 auto 15px;
}
.oven-gallery img{
    display: block;
    transition: opacity 0.3s ease-in-out;
}
.inside-img{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.state-checkbox:checked ~ .oven .outside-img{
    opacity: 0;
}
.state-checkbox:checked ~ .oven .inside-img{
    opacity: 1;
    pointer-events: auto;
}
.toggle-label{
    display: inline-block;
    padding: 10px 15px;
    background-color: #1a1a2e;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s ease;
}
.toggle-label:hover{
    transform: scale(1.1);
}
.toggle-label .inside{
    display: none;
}
.toggle-label .outside{
    display: inline;
}
.state-checkbox:checked ~ .oven .toggle-label .outside{
    display: none;
}
.state-checkbox:checked ~ .oven .toggle-label .inside{
    display: inline;
}
.oven p{
    color: red;
}